@model Weapons.Models.Лицензии_на_приобретение_оружия

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите удалить?</h3>
<div>
    <h4>Лицензии_на_приобретение_оружия</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_гражданина)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_гражданина)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Наименование_организации)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Наименование_организации)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Дата_выдачи)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Дата_выдачи)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Дата_истечения)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Дата_истечения)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Дата_приобретения)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Дата_приобретения)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Номер_лицензии_на_приобретение_оружия" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
