@model Weapons.Models.Лицензии_на_приобретение_оружия

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Лицензии_на_приобретение_оружия</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_гражданина)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_гражданина)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Наименование_организации)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Наименование_организации)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Дата_выдачи)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Дата_выдачи)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Дата_истечения)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Дата_истечения)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Дата_приобретения)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Дата_приобретения)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Номер_лицензии_на_приобретение_оружия">Изменить</a> |
    <a asp-action="Index">Назадt</a>
</div>
