@model IEnumerable<Weapons.Models.Отчёты_о_правонарушениях>

@{
    ViewData["Title"] = "Отчёты о правонарушениях";
}

<h1>Отчёты о правонарушениях</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Номер_отчёта)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Вид_правонарушения)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Дата_правонарушения)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Номер_отчёта)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Вид_правонарушения)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Дата_правонарушения)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Номер_отчёта">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Номер_отчёта">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Номер_отчёта">Удалить</a>
            </td>
        </tr>
}       <a class="nav-link text-dark" asp-area="" asp-controller="Запросы_в_ГУ_МВД" asp-action="Index">Запросы_в_ГУ_МВД(подчинённая)</a>
    </tbody>
</table>
