@model Weapons.Models.Граждане

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите удалить?</h3>
<div>
    <h4>Граждане</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Фамилия)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Фамилия)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Имя)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Имя)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Отчество)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Отчество)
        </dd>
        <dt class="col-sm-2">
            @*Html.DisplayNameFor(model => model.Адрес_фактического_проживания)*@
            Адрес_фактического_п-я
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Адрес_фактического_проживания)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Дата_рождения)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Дата_рождения)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Серия_паспорта)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Серия_паспорта)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Номер_паспорта)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Номер_паспорта)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Дата_выдачи_паспорта)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Дата_выдачи_паспорта)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Кем_выдан_паспорт)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Кем_выдан_паспорт)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Номер_телефона)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Номер_телефона)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Номер_СНИЛС)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Номер_СНИЛС)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID_гражданина" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
