@model Weapons.Models.Модели

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Модели</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Модель)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Модель)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Калибр)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Калибр)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Тип)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Тип)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Код_модели">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
