@model Weapons.Models.Запросы_в_ГУ_МВД

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите удалить?</h3>
<div>
    <h4>Запросы_в_ГУ_МВД</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Дата_запроса)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Дата_запроса)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Номер_отчёта)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Номер_отчёта)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID_гражданина)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID_гражданина)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Номер_запроса_в_ГУ_МВД" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
