@model IEnumerable<Weapons.Models.Медицинские_организации>

@{
    ViewData["Title"] = "Медицинские организации";
}

<h1>Медицинские организации</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<form asp-controller="Медицинские_организации" asp-action="Index">
    <p>
        Поиск по названию организации: <input type="text" name="searchString">
        <input type="submit" value="Поиск" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_организации)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Наименование_организации)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_организации)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Наименование_организации)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_организации">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.ID_организации">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_организации">Удалить</a>
            </td>
        </tr>
}       <a class="nav-link text-dark" asp-area="" asp-controller="Медицинские_заключения" asp-action="Index">"Медицинские_заключения(подчинённая)</a>
    </tbody>
</table>
