@model Weapons.Models.Протоколы_контрольного_отстрела

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Протоколы_контрольного_отстрела</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Номер_лицензии_на_приобретение_оружия)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Номер_лицензии_на_приобретение_оружия)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Номер_воинской_части_или_наименование_организации)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Номер_воинской_части_или_наименование_организации)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Дата_и_время_отстрела)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Дата_и_время_отстрела)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Номер_протокола_контрольного_отстрела">Изменить</a> |
    <a asp-action="Index">Назад</a>
</div>
